/vendor/
/node_modules/
.env
.env.*
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
.DS_Store
*.sublime-workspace
*.sublime-project
*.phpunit.result.cache
.phpunit.cache
.php_cs.cache
*.log
*.sqlite
*.sqlite3
/.phpunit.result.cache
/.phpunit.cache
/.php_cs.cache
/public/hot
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map
/public/storage
/tests/Browser/screenshots
/tests/Browser/console
/.env.backup